---
import TelegramIcon from "@assets/icons/Telegram.astro";
import Form from "@components/Form.tsx";
---

<section class="bg-gradient-to-r from-gray-900 to-gray-800 py-8">
  <div
    class="container mx-auto h-full min-h-[80dvh] flex items-center justify-center max-md:flex-col gap-4 px-4 md:px-8"
  >
    <div class="space-y-4">
      <h1
        class="text-4xl leading-tight max-md:text-center lg:text-5xl xl:text-6xl tracking-tight font-bold text-white text-balance [&>span]:text-[#F7DF1E]"
      >
        Aprende y mejora tus habilidades en <span>JavaScript</span>
      </h1>
      <p
        class="md:max-w-[80%] text-xl text-gray-400 lg:text-2xl max-md:text-center"
      >
        Únete a nuestra comunidad de desarrolladores y lleva tus conocimientos
        al siguiente nivel.
      </p>
    </div>

    <div
      class="w-full lg:max-w-[40%] rounded-sm bg-gray-800/50 backdrop-blur-sm p-6 md:p-8 shadow-lg border border-gray-700/50 h-fit"
    >
      <Form client:only="react">
        <TelegramIcon className="inline-block mr-2" />
      </Form>
    </div>
  </div>
</section>
